@mixin flex-declaration{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body{
    font-family: 'Mouse Memoirs', sans-serif;
    letter-spacing: 2px;

    .content-page1,.translator{
        @include flex-declaration;
    }

    header{
        font-size: 1.5em;
    }

    .translator{
        margin-top: 20px;
        textarea{
            resize: none;
            width: 70vw;
            height: 250px;
            font-size: 1.4em;
            margin-bottom: 15px;
        }
        
        .text{
            background: url('img/placeholder.gif') center center no-repeat;
        }

        .notext{
            background: none;
        }

        button{
            font-family: 'Mouse Memoirs', sans-serif;
            font-size: 1.5em;
            letter-spacing: 2px;
        }
    }

    .content-page2{
        margin: 20px 15vw;
        @include flex-declaration;
        font-size: 1.5em;
        p.info{
            text-align: justify;
        }
        
        .alphabet{
            table{
                tr{
                    td{
                        padding: 5px;
                    }

                    td:nth-child(2){
                        padding-right: 60px;
                    }
                }

                
                
            }

        }
    }
}